<div  class="intro-header" ng-controller="subController as sub" >
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Contact Us for publish your salon sooner</h1>
                        <h3>Kashyapa, Pubudu, Charith, Shehan, Manik</h3>
                        <h3>071-3671-941</h3>
                        <h3>kashyapa@gmail.com</h3>
                        
                        <hr class="intro-divider">
                        
                    </div>
                </div>
            </div>

        </div>
    </div>